body, html {
	margin:0;
	overflow:hidden;
	-webkit-transition:opacity 400ms;
	-moz-transition:opacity 400ms;
	transition:opacity 400ms;
}
body, .main, html {
  display:block;
  position:static;
  padding:0;
  width:100%;
  height:100%;
}
.main {
	width:100%;
	height:100%;
	display:block;
	position:relative;
	padding:0;
	-webkit-transform-style:preserve-3d;
}
.main .section {
	overflow:hidden;
	width:100%;
	height:100%;
	position:relative;
}
.onepage-pagination {
	display:none;
}
.wrapper {
	min-height:0 !important;
}