/* Fonts */

@font-face {
    font-family:'Corbel';
    src:url('../fonts/corbel.eot');
    src:url('../fonts/corbel.eot?#iefix') format('embedded-opentype'),
        url('../fonts/corbel.woff') format('woff'),
        url('../fonts/corbel.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Corbel';
    src:url('../fonts/corbelb.eot');
    src:url('../fonts/corbelb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/corbelb.woff') format('woff'),
        url('../fonts/corbelb.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Boblic';
    src:url('../fonts/boblic.eot');
    src:url('../fonts/boblic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/boblic.woff') format('woff'),
        url('../fonts/boblic.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
	font-family:'Rouble';
	src:url('../fonts/rouble.eot');
	src:url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/rouble.woff') format('woff'),
	    url('../fonts/rouble.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:16px;
    font-family:'Corbel', sans-serif;
	padding:0;
	margin:0;
	overflow-y:scroll;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#184d39;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#1c2d4e;
	font-size:12px;
    font-family:'Boblic', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Boblic', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#ffffff;
}
:-moz-placeholder {
	color:#ffffff;
}
::-moz-placeholder {
	color:#ffffff;
}
:-ms-input-placeholder {
	color:#ffffff;
}
.wrapper {
	position:relative;
	z-index:2;
	height:auto;
	min-width:1000px;
	min-height:100%;
	margin:0 auto;
	overflow-x:hidden;
}
section {
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
}
.bg {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
}
.b1 {
	background:url('../img/bg1.jpg') no-repeat center center;
}
.b2 {
	background:url('../img/bg3.jpg') no-repeat center center;
}
.b3 {
	background:url('../img/bg4.jpg') no-repeat center center;
}
.b4 {
	background:url('../img/bg5.jpg') no-repeat center center;
}
.b5 {
	background:url('../img/bg6.jpg') no-repeat center center;
}
.b6 {
	background:url('../img/bg2.jpg') no-repeat center center;
}
.b10 {
	background:url('../img/bg10.jpg') no-repeat center center;
}

/* Header */

.panel {
	position:relative;
	height:31px;
	margin:0 0 -4px;
	background:url('../img/panel_bg.png') repeat-x top;
}
.panel > div {
	position:relative;
	width:960px;
	height:30px;
	margin:0 auto;
}
.panel .title {
	position:absolute;
	left:0;
	top:4px;
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	margin:0;
}
.panel .nav {
	position:absolute;
	top:4px;
	left:214px;
	margin:0;
}
.panel .nav li {
	float:left;
	font-size:14px;
	line-height:18px;
	padding:0 0 2px 16px;
	margin:0 0 0 13px;
	background:url('../img/panel_nav_li.png') no-repeat left top;
}
.panel .nav li:first-child {
	padding-left:0;
	margin-left:0;
	background:none;
}
.panel .nav li a {
	color:#ffffff;
	text-decoration:none;
}
.panel .nav li a:hover {
	text-decoration:underline;
}
.panel .social {
	position:absolute;
	right:0;
	top:4px;
	margin:0;
}
.panel .social li {
	float:left;
	margin:0 0 0 4px;
}
.panel .social li a {
	position:relative;
	display:block;
	width:19px;
	height:19px;
	background:url('../img/panel_social_a.png') no-repeat left top;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.panel .social li a:hover {
	background-position:0 -19px;
}
.panel .social li a img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:19px;
	max-height:19px;
	margin:auto;
	opacity:0.8;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header {
	position:relative;
	width:960px;
	height:94px;
	margin:0 auto 24px;
}
.header .logo {
	position:absolute;
	left:0;
	top:18px;
}
.header .phones {
	position:absolute;
	left:28px;
	top:60px;
	color:#235044;
	font-size:18px;
	line-height:22px;
	font-family:'Boblic', sans-serif;
	padding:0 0 0 33px;
	margin:0;
	background:url('../img/header_phones_icon.png') no-repeat left 3px;
}
.header .price {
	position:absolute;
	right:0;
	top:18px;
	width:41px;
}
.header .price a, .index .object .information .files a {
	display:block;
	text-decoration:none;
}
.header .price h5, .index .object .information .files h5 {
	position:relative;
	width:29px;
	color:#c3003c;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	text-align:center;
	text-transform:uppercase;
	padding:9px 5px 7px 6px;
	margin:0 0 3px;
	background:url('../img/header_price_bg.png') no-repeat left top\0;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .price a:hover h5.index .object .information .files a:hover h5 {
	color:#f62666;
	background-position:0 -36px\0;
}
.header .price h5:before, .header .price h5:after, .index .object .information .files h5:before, .index .object .information .files h5:after {
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	content:"";
	width:40px;
	height:36px;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .price h5:before, .index .object .information .files h5:before {
	opacity:1;
	background:url('../img/header_price_bg.png') no-repeat left top;
}
.header .price h5:after, .index .object .information .files h5:after {
	opacity:0;
	background:url('../img/header_price_bg.png') no-repeat left -36px;
}
.header .price a:hover h5:before, .index .object .information .files a:hover h5:before {
	opacity:0;
}
.header .price a:hover h5:after, .index .object .information .files a:hover h5:after {
	opacity:1;
}
.header .price p, .index .object .information .files p {
	color:#c3003c;
	font-size:12px;
	line-height:12px;
	margin:0;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .price a:hover p, .index .object .information .files a:hover p {
	color:#f62666;
}
.header .nav {
	position:absolute;
	left:252px;
	top:25px;
	margin:0;
}
.header .nav li {
	display:inline-block;
	vertical-align:top;
	margin:0 -3px 0 51px;
}
.header .nav li:first-child {
	margin-left:0;
}
.header .nav li a {
	display:inline-block;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	text-decoration:none;
	vertical-align:top;
}
.header .nav li img {
	display:inline-block;
	vertical-align:top;
	margin:2px 12px 0 0;
	opacity:1;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .nav li a:hover img, .header .nav li.active a img {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.header .nav li span {
	display:inline-block;
	color:#000000;
	vertical-align:top;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.header .nav li a:hover span, .header .nav li.active a span {
	color:#010101;
}
.header .nav li.active a span {
	padding:0 0 3px;
	border-bottom:3px solid #235044;
}
.showmenu {
	position:relative;
	width:960px;
	margin:-29px auto 24px;
}
.showmenu > p {
	display:inline-block;
	width:72px;
	color:#235044;
	font-size:11px;
	line-height:14px;
	text-align:center;
	cursor:pointer;
	padding:0 0 13px;
	margin:0 0 0 557px;
	background:url('../img/showmenu_p.png') no-repeat left bottom;
}
.menu {
	position:relative;
	width:687px;
	height:46px;
	padding:0 22px 0 251px;
	margin:-24px auto 24px;
	background:url('../img/menu_bg.png') no-repeat 251px top;
}
.menu ul {
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:10px 8px 0 0;
}
.menu ul li {
	display:inline-block;
	font-size:14px;
	line-height:14px;
	font-family:'Boblic', sans-serif;
	vertical-align:middle;
	padding:0 0 0 45px;
	margin:0 -3px 0 45px;
	background:url('../img/menu_li.png') no-repeat left center;
}
.menu ul li:first-child {
	padding-left:0;
	margin-left:39px;
	background:none;
}
.menu ul li a {
	color:#000000;
	text-decoration:none;
}
.menu ul li a:hover {
	color:#235044;
}
.menu ul li img {
	display:inline-block;
	vertical-align:top;
	margin:1px 12px 0 0;
	opacity:1;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.menu ul li a:hover img, .menu ul li.active a img {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.menu ul li:first-child {
	margin-top:2px;
}
.menu ul li:first-child img {
	margin-top:-2px;
}
.menu ul li span {
	display:inline-block;
	color:#235044;
	vertical-align:top;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.menu .banner {
	display:inline-block;
	vertical-align:top;
	margin:17px 0 0 57px;
}
.menu > div {
	display:inline-block;
	vertical-align:top;
	margin:10px 0 0 40px;
}
.menu > div p {
	display:inline-block;
	color:#235044;
	font-size:14px;
	line-height:14px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	padding:0 24px 0 0;
	margin:0 12px 0 0;
	background:url('../img/menu_div_p.png') no-repeat right center;
}
.menu > div img {
	display:inline-block;
	vertical-align:middle;
	margin:2px 0 0;
}
.menu > div > div {
	display:inline-block;
	vertical-align:middle;
	margin:-4px 0 0;
}
.menu > div > div > div {
	margin:6px 0 0;
}
.menu > div > div > div:first-child {
	margin-top:0;
}
.menu > div > div img {
	float:right;
	margin:20px 0 -4px;
	opacity:1;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.menu > div > div a:hover img {
	opacity:0.8;
}
.menu .close {
	position:absolute;
	right:0;
	top:15px;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url('../img/menu_close.png') no-repeat left top;
}
.menu h6 {
	position:absolute;
	right:0;
	bottom:-18px;
	color:#235044;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
	text-decoration:underline;
	cursor:pointer;
	padding:0;
	margin:0;
}
.menu h6:hover {
	text-decoration:underline;
}

/* Index */

.index {
	position:relative;
	width:1000px;
	margin:0 auto 20px;
}
.index .nav {
	position:relative;
	display:inline-block;
	width:170px;
	vertical-align:top;
	padding:23px 0 23px;
	margin:0 80px 40px 20px;
}
.index .nav > .prev, .index .nav > .next {
	position:absolute;
	left:77px;
	display:block;
	width:17px;
	height:13px;
	cursor:pointer;
}
.index .nav > .prev {
	top:0;
	background:url('../img/index_nav_prev.png') no-repeat left top;
}
.index .nav > .next {
	bottom:0;
	background:url('../img/index_nav_next.png') no-repeat left top;
}
.index .nav > .prev:hover, .index .nav > .next:hover {
	background-position:0 -13px;
}
.index .nav > .prev.disabled, .index .nav > .next.disabled {
	cursor:default;
	background-position:0 0 !important;
	opacity:0.5;
}
.index .nav > div {
	position:relative;
	height:500px;
	overflow-y:auto;
}
.index .nav > div > div {
	height:auto;
}
.index .nav > div > div h6 {
	position:relative;
	width:97px;
	color:#ffffff;
	font-size:14px;
	line-height:16px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	text-align:center;
	padding:5px 0 4px;
	margin:7px auto 6px;
	background:#235044;
}
.index .nav > div > div h6:before, .index .nav > div > div h6:after {
	content:"";
	position:absolute;
	top:0;
	width:10px;
	height:25px;
}
.index .nav > div > div h6:before {
	left:-9px;
	background:url('../img/index_hav_h6_before.png') no-repeat left top;
}
.index .nav > div > div h6:after {
	right:-9px;
	background:url('../img/index_hav_h6_after.png') no-repeat left top;
}
.index .nav > div > div h6:first-child {
	margin-top:0;
}
.index .nav > div > div .element {
	width:112px;
	cursor:pointer;
	margin:0 0 4px 26px;
}
.index .nav > div > div .element:last-child {
	margin-bottom:0;
}
.index .nav > div > div .element div {
	position:relative;
	width:70px;
	height:55px;
	margin:0 auto 4px;
	border:3px solid transparent;
	background:url('../img/index_nav_picture_bg.png') no-repeat 4px 4px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	behavior:url('./pie.htc');
}
.index .nav > div > div .element.active div {
	background:none;
}
.index .nav > div > div .element:nth-of-type(1).active div {
	border:3px solid #0ea6bc;
}
.index .nav > div > div .element:nth-of-type(2).active div {
	border:3px solid #69b870;
}
.index .nav > div > div .element:nth-of-type(3).active div {
	border:3px solid #519d89;
}
.index .nav > div > div .element:nth-of-type(4).active div {
	border:3px solid #378596;
}
.index .nav > div > div .element:nth-of-type(5).active div {
	border:3px solid #0975a8;
}
.index .nav > div > div .element:nth-of-type(6).active div {
	border:3px solid #8eb84c;
}
.index .nav > div > div .element div:after {
	display:none;
	content:"";
	position:absolute;
	left:106px;
	top:20px;
	width:13px;
	height:17px;
	background:url('../img/index_nav_picture_after.png') no-repeat left top;
}
.index .nav > div > div .element.active div:after {
	display:block;
}
.index .nav > div > div .element div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:93px;
	max-height:66px;
	margin:auto;
}
.index .nav > div > div .element div img.default, .index .nav > div > div .element.active div img.active {
	display:block;
}
.index .nav > div > div .element div img.active, .index .nav > div > div .element.active div img.default {
	display:none;
}
.index .nav > div > div p {
	color:#235044;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	text-align:center;
	margin:0;
}
.index .object {
	position:relative;
	display:inline-block;
	width:707px;
	vertical-align:top;
	padding:0 15px 40px 0;
	margin:-7px -3px 0 0;
}
.index .object .gallery {
	position:relative;
	display:inline-block;
	width:324px;
	height:456px;
	vertical-align:top;
	margin:7px 121px 0 0;
}
.index .object.wide .gallery {
	margin-top:50px;
}
.index .object .gallery > div {
	position:absolute;
	left:5px;
	top:5px;
	width:308px;
	height:439px;
}
.index .object .gallery > div .pictures {
	position:absolute;
	left:0;
	top:0;
	width:308px;
	height:439px;
}
.index .object .gallery > div .pictures img {
	display:none;
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	max-width:308px;
	max-height:439px;
	margin:auto;
}
.index .object .gallery > div .navigation {
	position:absolute;
	left:0;
	bottom:0;
	width:308px;
	padding:13px 0 11px;
	background:url('../img/object_gallery_div_div.png') repeat;
	-webkit-border-radius:0 0 13px 7px;
	-moz-border-radius:0 0 13px 7px;
	border-radius:0 0 13px 7px;
	behavior:url('./pie.htc');
}
.index .object .gallery > div .navigation .prev, .index .object .gallery > div .navigation .next {
	position:absolute;
	top:50%;
	display:block;
	width:10px;
	height:13px;
	cursor:pointer;
	margin-top:-6px;
}
.index .object .gallery > div .navigation .prev {
	left:19px;
	background:url('../img/object_gallery_prev.png') no-repeat left top;
}
.index .object .gallery > div .navigation .next {
	right:23px;
	background:url('../img/object_gallery_next.png') no-repeat left top;
}
.index .object .gallery > div .navigation .prev:hover, .index .object .gallery > div .navigation .next:hover {
	background-position:0 -13px;
}
.index .object .gallery > div .navigation .prev.disabled, .index .object .gallery > div .navigation .next.disabled {
	cursor:default;
	background-position:0 0 !important;
	opacity:0.5;
}
.index .object .gallery > div .navigation > div {
	font-family:'Boblic', sans-serif;
	margin:0 50px;
}
.index .object .gallery > div .navigation > div h3 {
	color:#235044;
	font-size:12px;
	line-height:16px;
	padding:0;
	margin:0;
}
.index .object .gallery > div .navigation > div p {
	color:#235044;
	font-size:12px;
	line-height:16px;
	margin:0;
}
.index .object#building1 .gallery {
	background:url('../img/object1_cover.png') no-repeat left top;
}
.index .object#building1 .gallery > div {
	width:252px;
}
.index .object#building1 .gallery > div .pictures {
	width:252px;
}
.index .object#building1 .gallery > div .pictures img {
	max-width:252px;
}
.index .object#building2 .gallery {
	background:url('../img/object3_cover.png') no-repeat left top;
}
.index .object#building3 .gallery {
	background:url('../img/object4_cover.png') no-repeat left top;
}
.index .object#building4 .gallery {
	background:url('../img/object5_cover.png') no-repeat left top;
}
.index .object#building5 .gallery {
	background:url('../img/object6_cover.png') no-repeat left top;
}
.index .object#building6 .gallery {
	background:url('../img/object2_cover.png') no-repeat left top;
}
.index .object .information {
	display:inline-block;
	width:262px;
	vertical-align:top;
	margin:0 -3px 0 0;
}
.index .object .information h1 {
	font-size:36px;
	line-height:42px;
	font-family:'Boblic', sans-serif;
	text-shadow:2px 2px 0 #ffffff;
	padding:0;
	margin:0 0 21px;
}
.index .object.wide .information h1 {
	margin:0 0 39px;
}
.index .object .information h6 {
	position:relative;
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:10px 15px 8px 14px;
	margin:0 0 22px 10px;
}
.index .object.wide .information h6 {
	margin:0 0 36px;
}
.index .object .information h6:before, .index .object .information h6:after {
	content:"";
	position:absolute;
	top:0;
}
.index .object .information h6:before {
	left:-9px;
	border-left:10px solid transparent;
}
.index .object .information h6:after {
	right:-9px;
	border-right:10px solid transparent;
}
.index .object#building1 .information h6 {
	background:#0ea6bc;
}
.index .object#building1 .information h6:before {
	border-bottom:40px solid #0ea6bc;
}
.index .object#building1 .information h6:after {
	border-top:40px solid #0ea6bc;
}
.index .object#building2 .information h6 {
	background:#69b870;
}
.index .object#building2 .information h6:before {
	border-bottom:40px solid #69b870;
}
.index .object#building2 .information h6:after {
	border-top:40px solid #69b870;
}
.index .object#building3 .information h6 {
	background:#519d89;
}
.index .object#building3 .information h6:before {
	border-bottom:40px solid #519d89;
}
.index .object#building3 .information h6:after {
	border-top:40px solid #519d89;
}
.index .object#building4 .information h6 {
	background:#378596;
}
.index .object#building4 .information h6:before {
	border-bottom:40px solid #378596;
}
.index .object#building4 .information h6:after {
	border-top:40px solid #378596;
}
.index .object#building5 .information h6 {
	background:#0975a8;
}
.index .object#building5 .information h6:before {
	border-bottom:40px solid #0975a8;
}
.index .object#building5 .information h6:after {
	border-top:40px solid #0975a8;
}
.index .object#building6 .information h6 {
	background:#8eb84c;
}
.index .object#building6 .information h6:before {
	border-bottom:40px solid #8eb84c;
}
.index .object#building6 .information h6:after {
	border-top:40px solid #8eb84c;
}
.index .object .information p {
	font-size:16px;
	line-height:18px;
	margin:0;
}
.index .object .information .links {
	margin:21px 0 0;
}
.index .object.wide .information .links {
	margin:36px 0 0;
}
.index .object .information .links li {
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	margin:13px 0 0;
}
.index .object .information .links li:first-child {
	margin-top:0;
}
.index .object .information .links li a {
	color:#010101;
	text-decoration:none;
	border-bottom:2px dotted #010101;
}
.index .object .information .files {
	margin:14px 0 0;
}
.index .object.wide .information .files {
	margin:36px 0 0;
}
.index .object .information .files > div {
	display:inline-block;
	vertical-align:top;
	margin:10px 12px 0 0;
}
.index .object .information button {
	overflow:hidden;
	position:relative;
	display:inlne-block;
	width:242px;
	color:#235044;
	font-size:22px;
	line-height:32px;
	text-align:center;
	text-shadow:2px 2px 0 #ffffff;
	cursor:pointer;
	padding:5px 11px 6px 10px;
	margin:18px 0 0;
	background:none;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.25);
	-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.25);
	box-shadow:5px 5px 10px rgba(0,0,0,0.25);
	behavior:url('./pie.htc');
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.index .object.wide .information button {
	margin:36px 0 0;
}
.index .object .information button:hover {
	border:5px solid #327160 !important;
}
.index .object#building1 .information button {
	border:5px solid #0ea6bc;
}
.index .object#building2 .information button {
	border:5px solid #69b870;
}
.index .object#building3 .information button {
	border:5px solid #519d89;
}
.index .object#building4 .information button {
	border:5px solid #378596;
}
.index .object#building5 .information button {
	border:5px solid #0975a8;
}
.index .object#building6 .information button {
	border:5px solid #8eb84c;
}
.index .object .information button span {
	position:relative;
	z-index:1;
}
.index .object .information button:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ffffff;
	opacity:0.35;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior:url('./pie.htc');
}
.index .object .information button:hover:after {
	opacity:0.55;
}
.index .object .information button:hover {
	border:6px solid #327160;
}
.index.buildings .object .modal {
	position:absolute;
	left:0;
	top:7px;
	z-index:200;
	width:704px;
	background:#ffffff;
	border:2px dashed #235044;
}
.index.buildings .object .modal .close {
	position:absolute;
	right:8px;
	top:8px;
	display:block;
	width:11px;
	height:11px;
	cursor:pointer;
	background:url('../img/popup_close.png') no-repeat left top;
	-webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s;
    -webkit-transition-property:-webkit-transform;
    -moz-transition-property:-moz-transform;
    -o-transition-property:-o-transform;
    transition-property:transform;
}
.index.buildings .object .modal .close:hover {
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.index.buildings .object .modal.text > div {
	padding:21px 10px 0;
}
.index.buildings .object .modal {
	display:none;
}
.index.buildings .object .modal h2 {
	color:#000000;
	font-size:30px;
	line-height:36px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	text-align:center;
	padding:0;
	margin:0 0 20px;
}
.index.buildings .object .modal.text .scrollable {
	overflow-y:auto;
	height:300px;
}
.index.buildings .object .modal.text > div h3 {
	color:#000000;
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0 92px 20px 96px;
}
.index.buildings .object .modal.text > div iframe {
	margin:0 97px 20px 96px;
}
.index.buildings .object .modal.text > div img {
	max-width:490px;
	margin:0 97px 20px 96px;
}
.index.buildings .object .modal > div p {
	color:#000000;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	margin:0 97px 20px 96px;
}
.index.buildings .object .modal img:last-child, .index.buildings .object .modal p:last-child, .index.buildings .object .modal iframe:last-child {
	margin-bottom:0;
}
.index.buildings .object .modal ul:last-child  {
	margin-bottom:-20px;
}
.index.buildings .object .modal.stages > div {
	padding:21px 10px 0;
}
.index.buildings .object .modal.stages ul {
	margin:0 0 20px 84px;
}
.index.buildings .object .modal.stages ul li {
	display:inline-block;
	width:117px;
	font-size:18px;
	line-height:20px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	white-space:nowrap;
	margin:0 0 20px;
}
.index.buildings .object .modal.stages ul li a {
	position:relative;
	display:inline-block;
	color:#010101;
	text-decoration:none;
	vertical-align:top;
	padding:3px 0 0;
	border-bottom:2px dotted #000000;
}
.index.buildings .object .modal.stages ul li a {
	margin-left:16px;
}
.index.buildings .object .modal.stages ul li a:hover {
	border-bottom:2px solid transparent
}
.index.buildings .object .modal.stages ul li.active a {
	color:#ffffff;
	background:#235044;
	border-bottom:2px solid transparent;
}
.index.buildings .object .modal.stages ul li a:before, .index.buildings .object .modal.stages ul li a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:25px;
	padding:0;
}
.index.buildings .object .modal.stages ul li a:before {
	left:-12px;
	width:12px;
	background: url('../img/modal_stages_li_before.png') no-repeat left top;
}
.index.buildings .object .modal.stages ul li a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.index.buildings .object .modal.stages ul li.active a:before, .index.buildings .object .modal.stages ul li.active a:after {
	display:block;
}
.index.buildings .object .modal.stages .photos {
	width:490px;
	text-align:center;
	margin:0 0 26px 116px;
}
.index.buildings .object .modal.stages .photos p {
	margin:0 0 20px;
}
.index.buildings .object .modal.stages .photos > div > div {
	margin:0 0 18px;
}
.index.buildings .object .modal.stages .photos > div > div img {
	display:none;
}
.index.buildings .object .modal.stages .photos > div > h5 {
	font-size:18px;
	line-height:20px;
	padding:0;
	margin:0 0 20px;
}
.index.buildings .object .modal.stages .photos > div > h5 span {
	display:inline-block;
	width:14px;
	height:17px;
	vertical-align:top;
	cursor:pointer;
	margin:1px 4px 0;
}
.index.buildings .object .modal.stages .photos > div > h5 span.prev {
	background:url('../img/modal_stages_prev.png') no-repeat left top;
}
.index.buildings .object .modal.stages .photos > div > h5 span.next {
	background:url('../img/modal_stages_next.png') no-repeat left top;
}
.index.buildings .object .modal.stages .photos > div > h5 span:hover {
	background-position:0 -17px;
}
.index.buildings .object .modal.stages .photos > div > h5 span.disabled {
	cursor:default;
	background-position:0 0 !important;
	opacity:0.25;
}
.index.buildings .object .modal.stages .photos > div > h5 strong {
	display:inline-block;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	margin:0 4px;
}
.index .floor  {
	display:inline-block;
	width:690px;
	vertical-align:top;
	margin:-4px -3px 0 0;
}
.index .floor h1 {
	color:#000000;
	font-size:30px;
	line-height:36px;
	font-family:'Boblic', sans-serif;
	text-shadow:2px 2px 0 #ffffff;
	text-align:center;
	padding:0;
	margin:0 0 26px;
}
.index .floor h1 span {
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.index .floor h1 span:before, .index .floor h1 span:after {
	content:"";
	position:absolute;
	top:20px;
	width:47px;
	height:2px;
	background:url('../img/index_floor_h1_line.png') no-repeat left top;
}
.index .floor h1 span:before {
	left:-66px;
}
.index .floor h1 span:after {
	right:-66px;
}
.index .floor ul {
	margin:0 0 30px 125px;
}
.index .floor ul li {
	display:inline-block;
	width:131px;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	white-space:nowrap;
	margin:0 0 7px;
}
.index .floor ul li a {
	position:relative;
	display:inline-block;
	color:#010101;
	text-decoration:none;
	vertical-align:top;
	padding:3px 0 0;
	border-bottom:2px dotted #000000;
}
.index .floor ul li a {
	margin-left:16px;
}
.index .floor ul li a:hover {
	border-bottom:2px solid transparent
}
.index .floor ul li.active a {
	color:#ffffff;
	background:#235044;
	border-bottom:2px solid transparent;
}
.index .floor ul li a:before, .index .floor ul li a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:23px;
	padding:0;
}
.index .floor ul li a:before {
	left:-12px;
	width:12px;
	background: url('../img/modal_stages_li_before.png') no-repeat left top;
}
.index .floor ul li a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.index .floor ul li.active a:before, .index .floor ul li.active a:after {
	display:block;
}
.index .floor > div {
	text-align:center;
	margin:0;
}
.index .floor > div h5 {
	display:inline-block;
	color:#000000;
	font-size:36px;
	line-height:40px;
	font-family:'Boblic', sans-serif;
	text-shadow:2px 2px 0 #ffffff;
	text-align:center;
	padding:0 0 0 47px;
	margin:47px 0 20px;
	background:url('../img/floor_div_h5.png') no-repeat left 15px;
}
.index .floor > div > div {
	text-align:left;
}
.floor .tooltip {
	position:absolute;
	display:none;
	width:235px;
	padding:15px 16px 10px;
	margin:-209px 0 0 -135px;
	background:#ffffff;
	border:2px dashed #235044;
}
.floor .tooltip span.arrow {
	position:absolute;
	left:50%;
	bottom:-16px;
	display:block;
	width:26px;
	height:16px;
	margin:0 0 0 -13px;
	background:url('../img/floor_tooltip_arrow_span.png') no-repeat left top;
}
.floor .tooltip span.close {
	position:absolute;
	right:2px;
	top:0;
	width:12px;
	height:12px;
	color:#000000;
	font-size:20px;
	cursor:pointer;
}
.floor .tooltip p {
	clear:both;
	overflow:hidden;
	color:#000000;
	font-size:16px;
	line-height:20px;
	font-family:'Boblic', sans-serif;
	padding:0 0 0 158px;
	margin:0 0 9px;
}
.floor .tooltip p span {
	float:left;
	display:block;
	width:154px;
	margin:0 0 0 -158px;
	background:url('../img/floor_tooltip_span.png') repeat-x top;
}
.floor .tooltip p span em {
	float:left;
	display:block;
	font-style:normal;
	padding:0 2px 0 0;
	background:#ffffff;
}
.floor .tooltip p sup {
	font-size:10px;
	line-height:10px;
}
.floor .tooltip p strong {
	font-weight:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 2px;
}
.floor .tooltip h6 {
	color:#000000;
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	font-family:'Corbel', sans-serif;
	padding:2px 0 0 36px;
	margin:30px 0 9px;
	background:url('../img/floor_tooltip_h6.png') no-repeat 4px top;
}
.floor .tooltip h6 a {
	color:#000000;
}
.floor > div > div {
	position:relative;
	margin:0 auto;
}
.prenew {
	width:960px;
	margin:-40px auto 23px;
}
.prenew h2 {
	position:relative;
	color:#000000;
	font-size:24px;
	line-height:27px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	text-align:center;
	padding:0;
	margin:0 0 26px;
}
.prenew h2:before, .prenew h2:after {
	content:"";
	position:absolute;
	top:12px;
	width:364px;
	height:2px;
	background:url('../img/prenew_h2.png') repeat-x top;
}
.prenew h2:before {
	left:0;
}
.prenew h2:after {
	right:0;
}
.prenew > div {
	position:relative;
}
.prenew div .prev, .prenew div .next {
	position:absolute;
	top:50%;
	z-index:100;
	display:block;
	width:14px;
	height:17px;
	cursor:pointer;
	margin-top:-7px;
}
.prenew div .prev {
	left:75px;
	background:url('../img/object_prenew_prev.png') no-repeat left top;
}
.prenew div .next {
	right:0;
	background:url('../img/object_prenew_next.png') no-repeat left top;
}
.prenew div .prev:hover, .prenew div .next:hover {
	background-position:0 -17px;
}
.prenew div, .prenew div > .container {
	width:960px;
}
.prenew div > .container > div > div {
	width:750px;
	padding:5px 60px 0 150px;
}
.prenew div > .container > div > div img {
	position:relative;
	float:left;
	margin:-5px 20px 0 0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior:url('./pie.htc');
}	
.prenew div h3 {
	color:#010101;
	font-size:14px;
	line-height:16px;
	padding:0;
	margin:0 0 6px;
}
.prenew div h3 a {
	color:#010101;
}
.prenew div h6 {
	color:#235044;
	font-size:14px;
	line-height:16px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0;
}

/* Content */

.content {
	width:960px;
	margin:0 auto 72px;
}
.content h1 {
	position:relative;
	color:#000000;
	font-size:30px;
	line-height:36px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	text-align:center;
	text-shadow:2px 2px 0 #ffffff;
	padding:0;
	margin:0 0 30px;
}
.content h1 span {
	display:inline-block;
}
.content h1 em.left, .content em.right {
	position:absolute;
	top:17px;
	display:block;
	height:2px;
	background:url('../img/prenew_h2.png') repeat-x top;
}
.content h1 em.left {
	left:0;
}
.content h1 em.right {
	right:0;
}
.methods {
	padding:0 80px 0 310px;
	margin:0;
}
.methods .icon {
	position:relative;
	float:left;
	width:114px;
	height:114px;
	margin:20px 0 0 -178px;
	border:2px dashed #235044;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	behavior:url('./pie.htc');
}
.methods .icon img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:114px;
	max-height:114px;
	margin:auto;
}
.methods p {
	color:#000000;
	font-size:18px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	margin:0 0 18px;
}
.methods ul {
	margin:27px 0 18px;
}
.methods ul li {
	color:#000000;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	text-align:left !important;
	padding:0 0 0 22px;
	margin:0 0 8px;
	background:url('../img/methods_li.png') no-repeat left 6px;
}
.filter {
	position:relative;
	text-align:center;
	margin:0 0 36px;
}
.filter.fixed {
	position:fixed;
	left:50%;
	top:0;
	z-index:10;
	width:960px;
	margin:0 0 0 -480px;
}
.filter h1 {
	font-size:30px;
	line-height:36px;
	margin:0 0 68px;
}
.filter h1 em.left, .filter h1 em.right {
	top:17px;
}
.filter h2 {
	color:#000000;
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0 0 47px;
}
.filter ul.options {
	text-align:left;
	margin:0 0 -4px;
}
.filter ul.options li {
	display:inline-block;
	height:18px;
	width:344px;
	vertical-align:top;
	margin:0 67px 40px 0;
}
.filter ul.options li:nth-child(2n) {
	margin-right:-3px;
}
.filter ul.options li p {
	display:inline-block;
	width:75px;
	color:#000000;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	margin:0 7px 0 0;
}
.filter ul.options li h5 {
	display:inline-block;
	width:257px;
	color:#000000;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	white-space:nowrap;
	vertical-align:middle;
	margin:0 -3px 0 0;
}
.filter ul.options li h5 .radio {
	display:inline-block;
	vertical-align:top;
	margin:0 5px 0 0;
}
.filter ul.options li h5 span {
	display:inline-block;
	vertical-align:top;
	margin:0 26px 0 0;
}
.filter ul.options li h5 span:last-child {
	margin-right:-3px;
}
.filter button {
	position:relative;
	display:inlne-block;
	width:107px;
	color:#235044;
	font-size:16px;
	line-height:19px;
	text-align:center;
	text-shadow:1px 1px 1px #ffffff;
	cursor:pointer;
	padding:4px 0;
	margin:0;
	background:rgba(255,255,255,0.35);
	border:4px solid #235044;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:13px 13px 26px rgba(0,0,0,0.15);
	-moz-box-shadow:13px 13px 26px rgba(0,0,0,0.15);
	box-shadow:5px 5px 10px rgba(0,0,0,0.25);
	behavior:url('./pie.htc');
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.filter button:hover {
	background:rgba(255,255,255,0.55);
	border:4px solid #327160;
}
.filter button.show {
	position:absolute;
	right:0;
	top:91px;
}
.filter button.clean {
	position:absolute;
	right:0;
	top:146px;
}
.filter .methods {
	display:none;
}
.filter.active .methods {
	display:block;
}
.filter p.more, .filter p.less {
	display:block;
	width:46px;
	color:#235044;
	font-size:11px;
	line-height:14px;
	text-align:center;
	cursor:pointer;
	padding:0 0 13px;
	margin:0 auto 10px;
	background:url('../img/showmenu_p.png') no-repeat center bottom;
}
.filter p.less {
	display:none;
	margin:0 auto 20px;
}
.filter.active p.more {
	display:none;
}
.filter.active p.less {
	display:block;
}
table.list {
	width:100%;
	margin:0 0 30px;
	/*border-bottom:2px dashed rgba(255,255,255,0.3);*/
}
table.list th {
	font-size:18px;
	line-height:18px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	white-space:nowrap;
	padding:14px 10px 12px;
}
table.list th sup {
	font-size:12px;
	line-height:12px;
}
table.list th span {
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	margin-left:-17px;
}
table.list th span em {
	position:absolute;
	top:2px;
	display:block;
	width:14px;
	height:13px;
	cursor:pointer;
}
table.list th span em.up {
	right:-34px;
	background:url('../img/list_up_icon.png') no-repeat center center;
}
table.list th span em.down {
	right:-20px;
	background:url('../img/list_up_down.png') no-repeat center center;
}
table.list th span em.active {
	background-color:rgba(35,80,68,0.15);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	behavior:url('./pie.htc');
}
table.list td {
	position:relative;
	color:#000000;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	text-align:center;
	white-space:nowrap;
	padding:14px 10px 12px;
}
table.list td sup {
	font-size:10px;
	line-height:10px;
}
table.list td:first-child, table.list th:first-child {
	text-align:left;
	padding-left:58px;
}
table.list td:first-child:before {
	content:"";
	position:absolute;
	left:32px;
	top:50%;
	display:block;
	width:6px;
	height:9px;
	margin:-4px 0 0;
	background:url('../img/table_list_td_first.png') no-repeat left top;
}
table.list tbody, table.list thead {
	width:960px;
}
table.list thead {
	position:relative;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:0 5px 5px rgba(0,0,0,0.15);
	box-shadow:0 5px 5px rgba(0,0,0,0.15);
}
table.list thead tr th {
	background:#ffffff;
}
table.list thead tr th:first-child {
	border-radius:20px 0 0 20px;
}
table.list thead tr th:last-child {
	border-radius:0 20px 20px 0;
}
table.list.fixed thead {
	position:fixed;
	left:50%;
	top:0;
	z-index:100;
	margin-left:-480px;
}
table.list tbody:nth-child(odd) td {
	background:url('../img/table_list_bg.png') repeat-x top;

}
table.list tbody:nth-child(odd) td:first-child {
	-webkit-border-radius:20px 0 0 20px;
	-moz-border-radius:20px 0 0 20px;
	border-radius:20px 0 0 20px;
}
table.list tbody:nth-child(odd) td:last-child {
	-webkit-border-radius:0 20px 20px 0;
	-moz-border-radius:0 20px 20px 0;
	border-radius:0 20px 20px 0;
}
/*table.list td {
	outline:1px solid red;
}
table.list th {
	outline:1px solid green;
}*/
table.list td:nth-child(1), table.list th:nth-child(1) {
	width:32%;
}
table.list td:nth-child(2), table.list th:nth-child(2) {
	width:10%;
}
table.list td:nth-child(3), table.list th:nth-child(3) {
	width:11%;
}
table.list td:nth-child(4), table.list th:nth-child(4) {
	width:18%;
}
table.list td:nth-child(5), table.list th:nth-child(5) {
	width:14%;
}
table.list td:nth-child(6), table.list th:nth-child(6) {
	width:240px;
	padding-right:20px;
}
.contacts {
	padding:5px 80px 0 310px;
	margin:0 0 47px;
}
.contacts .icon {
	position:relative;
	float:left;
	width:114px;
	height:114px;
	margin:15px 0 0 -178px;
	border:2px dashed #235044;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	behavior:url('./pie.htc');
}
.contacts .icon img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:114px;
	max-height:114px;
	margin:auto;
}
.contacts p {
	color:#000000;
	font-size:24px;
	line-height:24px;
	font-family:'Boblic', sans-serif;
	margin:0 0 26px;
}
.contacts p span {
	font-size:32px;
}
.form {
	position:relative;
	width:495px;
	padding:35px 44px 26px 41px;
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	border-radius:22px;
	-webkit-box-shadow:-7px 0 5px rgba(0,0,0,0.07);
	-moz-box-shadow:-7px 0 5px rgba(0,0,0,0.07);
	box-shadow:-7px 0 5px rgba(0,0,0,0.07);
	behavior:url('./pie.htc');
}
.form h3 {
	color:#010101;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0 0 34px;
}
.form p {
	margin:0 0 16px;
}
.form p input, .form p textarea {
	width:465px;
	color:#ffffff;
	font-size:18px;
	padding:11px 13px 10px;
	text-transform:uppercase;
	background:#235044;
	border:2px solid #235044;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.form p textarea {
	min-height:174px;
	margin:0 0 -4px;
}
.form p input:focus, .form p textarea:focus {
	border:2px solid #2c8db6;
}
.form p input.success, .form p textarea.success {
	border:2px solid #36836e;
}
.form p input.error, .form p textarea.error {
	border:2px solid #a14747;
}
.form button {
	position:relative;
	display:inlne-block;
	color:#235044;
	font-size:20px;
	line-height:24px;
	text-align:center;
	text-shadow:1px 1px 1px #ffffff;
	cursor:pointer;
	padding:4px 44px 4px 43px;
	margin:6px 0 16px 22px;
	background:rgba(255,255,255,0.35);
	border:4px solid #235044;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:13px 13px 26px rgba(0,0,0,0.15);
	-moz-box-shadow:13px 13px 26px rgba(0,0,0,0.15);
	box-shadow:5px 5px 10px rgba(0,0,0,0.25);
	behavior:url('./pie.htc');
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.form button:hover {
	background:rgba(255,255,255,0.55);
	border:4px solid #327160;
}
.wrapper > .map {
	position:relative;
	height:394px;
	margin:111px 0 129px;
}
.comment {
	position:relative;
	height:394px;
	margin:111px 0 129px;
	background:url('../img/comment_bg.png') repeat-x top;
}
.comment .icon {
	position:absolute;
	left:50%;
	top:135px;
	width:114px;
	height:114px;
	margin:0 0 0 -353px;
	border:2px dashed #235044;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	behavior:url('./pie.htc');
}
.comment .icon img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:114px;
	max-height:114px;
	margin:auto;
}
.map .form, .comment .form {
	position:absolute;
	top:-66px;
	right:50%;
	z-index:10;
	margin-right:-470px;
}
.index .buildphoto  {
	display:inline-block;
	vertical-align:top;
}
.index .buildphoto > ul {
	margin:0 0 24px;
}
.index .buildphoto > ul li {
	display:inline-block;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	white-space:nowrap;
	margin:0 0 11px 16px;
}
.index .buildphoto > ul li:first-child {
	margin-left:0;
}
.index .buildphoto > ul li a {
	position:relative;
	display:inline-block;
	color:#010101;
	text-decoration:none;
	vertical-align:top;
	padding:3px 10px 0;
	margin:0 12px;
}
.index .buildphoto > ul li a span {
	display:block;
	border-bottom:2px dotted #000000;
}
.index .buildphoto > ul li a:hover span {
	border-bottom:2px solid transparent;
}
.index .buildphoto > ul li.active a {
	color:#ffffff;
	background:#235044;
}
.index .buildphoto > ul li.active a span {
	border-bottom:2px solid transparent;
}
.index .buildphoto > ul li a:before, .index .buildphoto > ul  li a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:23px;
	padding:0;
}
.index .buildphoto > ul li a:before {
	left:-12px;
	width:12px;
	background:url('../img/modal_stages_li_before.png') no-repeat left top;
}
.index .buildphoto > ul li a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.index .buildphoto > ul li.active a:before, .index .buildphoto > ul li.active a:after {
	display:block;
}
.index .buildphoto > div > div {
	clear:both;
	overflow:hidden;
	margin:0 0 20px;
}
.index .buildphoto > div > div > div {
	overflow:hidden;
	float:left;
	position:relative;
	width:124px;
	height:208px;
	margin:0 18px 16px 0;
	opacity:0.4;
	filter:alpha(opacity=40);
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.index .buildphoto > div > div > div:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
.index .buildphoto > div > div > div:nth-child(5n) {
	margin-right:0;
}
.index .buildphoto > div > div > div img {
	position:absolute;
	left:0;
	top:0;
}
.pages {
	white-space:nowrap;
	margin:0 0 24px;
}
.pages li.num {
	display:inline-block;
	font-size:18px;
	line-height:22px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	margin:0 -1px 0 2px;
}
.pages li.num a {
	position:relative;
	display:inline-block;
	color:#000000;
	text-decoration:none;
	vertical-align:top;
	padding:3px 1px 0 0;
	margin:0 12px;
}
.pages li.num a:hover {
	color:#235044;
}
.pages li.num.active a {
	color:#ffffff;
	background:#235044;
}
.pages li.num a:before, .pages li.num a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:25px;
	padding:0;
}
.pages li.num a:before {
	left:-12px;
	width:12px;
	background:url('../img/modal_stages_li_before.png') no-repeat left top;
}
.pages li.num a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.pages li.num.active a:before, .pages li.num.active a:after {
	display:block;
}
.pages li.first, .pages li.last {
	display:inline-block;
	font-size:18px;
	line-height:22px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	padding:3px 0 0;
}
.pages li.first a, .pages li.last a {
	color:#010101;
}
.pages li.first {
	margin:0 9px 0 0;
}
.pages li.last {
	margin:0 -3px 0 12px;
}
.pages li.prev, .pages li.next {
	display:inline-block;
	vertical-align:top;
	margin:4px 11px 0 14px;
}
.pages li.prev a, .pages li.next a {
	display:block;
	width:14px;
	height:17px;
}
.pages li.prev a {
	background:url('../img/object_prenew_prev.png') no-repeat left top;
}
.pages li.next a {
	background:url('../img/object_prenew_next.png') no-repeat left top;
}
.pages li.prev a:hover, .pages li.next a:hover {
	background-position:0 -17px;
}
.pages li.prev.disabled, .pages li.next.disabled {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.commercial {
	margin:38px 0 0
}
.commercial li {
	clear:both;
	overflow:hidden;
	position:relative;
	display:inline-block;
	width:350px;
	vertical-align:top;
	padding:7px 0 0 120px;
	margin:-7px 17px 36px 0;
}
.commercial li:nth-child(2n) {
	margin-right:-3px;
}
.commercial li h3 {
	font-size:18px;
	line-height:22px;
	padding:0;
	margin:0 0 24px;
}
.commercial li h3 a {
	color:#010101;
}
.commercial li p {
	font-size:18px;
	line-height:20px;
	padding:0;
	margin:0 0 9px;
}
.commercial li div {
	position:relative;
	float:left;
	width:70px;
	height:55px;
	margin:-2px 0 12px -120px;
	border:5px solid transparent;
	background:url('../img/index_nav_picture_bg.png') no-repeat -10px -91px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	behavior:url('./pie.htc');
}
.commercial li:hover div {
	background:none;
}
.commercial li:nth-of-type(1):hover div {
	border:3px solid #0ea6bc;
}
.commercial li:nth-of-type(2):hover div {
	border:3px solid #69b870;
}
.commercial li:nth-of-type(3):hover div {
	border:3px solid #519d89;
}
.commercial li:nth-of-type(4):hover div {
	border:3px solid #378596;
}
.commercial li:nth-of-type(5):hover div {
	border:3px solid #0975a8;
}
.commercial li:nth-of-type(6):hover div {
	border:3px solid #8eb84c;
}
.commercial li div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:70px;
	max-height:55px;
	margin:auto;
}
.commercial li div img.default, .commercial li:hover div img.active {
	display:block;
}
.commercial li div img.active, .commercial li:hover div img.default {
	display:none;
}
.twocols {
	height:275px;
	text-align:center;
	margin:47px 0 48px;
	background:url('../img/twocols_bg.png') no-repeat left top;
}
.twocols li {
	float:left;
	width:408px;
	color:#000000;
	font-size:18px;
	line-height:20px;
	padding:31px 43px 0 42px;
}
.twocols li:first-child {
	width:382px;
}
.commercialscheme {
	margin:0 0 40px;
}
.commercialscheme .floor {
	display:inline-block;
	width:460px;
	vertical-align:top;
	margin:0 15px 0 10px;
}
.commercialscheme .floor > div {
	margin:0 0 0 27px;
}
.commercialscheme .floor ul {
	margin:42px 0 36px 24px;
}
.commercialscheme .floor ul li {
	display:inline-block;
	width:102px;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	white-space:nowrap;
	margin:0 0 7px;
}
.commercialscheme .floor ul li a {
	position:relative;
	display:inline-block;
	color:#010101;
	text-decoration:none;
	vertical-align:top;
	padding:3px 0 0;
	border-bottom:2px dotted #000000;
}
.commercialscheme .floor ul li a {
	margin-left:16px;
}
.commercialscheme .floor ul li a:hover {
	border-bottom:2px solid transparent
}
.commercialscheme .floor ul li.active a {
	color:#ffffff;
	background:#235044;
	border-bottom:2px solid transparent;
}
.commercialscheme .floor ul li a:before, .commercialscheme .floor ul li a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:23px;
	padding:0;
}
.commercialscheme .floor ul li a:before {
	left:-12px;
	width:12px;
	background: url('../img/modal_stages_li_before.png') no-repeat left top;
}
.commercialscheme .floor ul li a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.commercialscheme .floor ul li.active a:before, .commercialscheme .floor ul li.active a:after {
	display:block;
}
.commercialscheme .information {
	display:inline-block;
	width:472px;
	vertical-align:top;
	margin:0 -3px 0 0;
}
.commercialscheme .information ul {
	margin:0 0 79px;
}
.commercialscheme .information ul li {
	color:#000000;
	font-size:18px;
	line-height:18px;
	padding:0 0 0 60px;
	margin:0 0 8px;
	background:url('../img/commercialsceheme_information_li.png') no-repeat left 5px;
}
.commercialscheme .information > div {
	padding:0 0 0 60px;
	background:url('../img/commercialsceheme_information_div.png') no-repeat 16px 4px;
}
.commercialscheme .information > div p {
	font-size:14px;
	line-height:20px;
	font-family:'Boblic', sans-serif;
	margin:0 0 3px;
}
.commercialscheme .information > div p a {
	color:#000000;
}
.new {
	text-align:center;
	padding:6px 0 0;
	margin:0 80px 40px;
}
.new img {
	margin:0 0 36px;
}
.new h2 {
	color:#000000;
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0 0 38px;
}
.new p {
	color:#000000;
	font-size:18px;
	line-height:20px;
	text-align:left;
	margin:0 10px 20px 0;
}
.news {
	clear:both;
	overflow:hidden;
	padding:6px 0 0;
	margin:0 0 40px;
}
.news > ul {
	float:left;
	width:240px;
	margin:0 0 24px;
}
.news > ul li {
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	vertical-align:top;
	white-space:nowrap;
	margin:0 0 11px;
}
.news > ul li a {
	position:relative;
	display:inline-block;
	color:#010101;
	text-decoration:none;
	vertical-align:top;
	padding:3px 5px 0;
	margin:0 12px;
}
.news > ul li a span {
	display:inline-block;
	border-bottom:2px dotted #000000;
}
.news > ul li a:hover span {
	border-bottom:2px solid transparent;
}
.news > ul li.active a {
	color:#ffffff;
	background:#235044;
}
.news > ul li.active a span {
	border-bottom:2px solid transparent;
}
.news > ul li a:before, .news > ul  li a:after {
	content:"";
	position:absolute;
	top:0;
	display:none;
	height:23px;
	padding:0;
}
.news > ul li a:before {
	left:-12px;
	width:12px;
	background:url('../img/modal_stages_li_before.png') no-repeat left top;
}
.news > ul li a:after {
	right:-12px;
	width:12px;
	background:url('../img/modal_stages_li_after.png') no-repeat right top;
}
.news > ul li.active a:before, .news > ul li.active a:after {
	display:block;
}
.news > div {
	float:right;
	width:640px;
	margin:-4px 10px 0 0;
}
.news > div > div {
	margin:0 0 54px;
}
.news > div > .pages {
	padding-top:6px;
}
.news > div > div h3 {
	color:#010101;
	font-size:18px;
	line-height:24px;
	padding:0;
	margin:0 0 17px;
}
.news > div > div h3 a {
	color:#010101;
}
.news > div > div h6 {
	color:#235044;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	font-family:'Boblic', sans-serif;
	padding:0;
	margin:0 0 8px;
}
.news > div > div p {
	color:#000000;
	font-size:18px;
	line-height:20px;
	margin:0 0 12px;
}

/* Footer */

.clear {
	clear:both;
	overflow:hidden;
	height:30px;
}
.footer {
	position:relative;
	z-index:3;
	width:960px;
	height:30px;
	margin:-30px auto 0;
}
.footer p {
	font-size:12px;
	line-height:14px;
	margin:0;
}
.footer p a {
	color:#000000;
}
.footer .copy {
	float:left;
}
.footer .author {
	float:right;
}

/* Scroll */

.index .nav .jspContainer {
	overflow:hidden;
	position:relative;
}
.index .nav .jspPane {
	position:absolute;
}
.index .nav .jspVerticalBar {
	position:absolute;
	top:0;
	right:0;
	width:16px;
	height:100%;
	background:red;
	display:none;
}
.index .nav  .jspHorizontalBar {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:16px;
	background:red;
}
.index .nav .jspCap {
	display:none;
}
.index .nav .jspHorizontalBar .jspCap {
	float:left;
}
.index .nav .jspTrack {
	background:#dde;
	position:relative;
}
.index .nav .jspDrag {
	background:#bbd;
	position:relative;
	top:0;
	left:0;
	cursor:pointer;
}
.index .nav .jspHorizontalBar .jspTrack, .index .nav .jspHorizontalBar .jspDrag {
	float:left;
	height:100%;
}
.index .nav .jspArrow {
	background:#50506d;
	text-indent:-20000px;
	display:block;
	cursor:pointer;
	padding:0;
	margin:0;
}
.index .nav .jspArrow.jspDisabled {
	cursor:default;
	background:#80808d;
}
.index .nav .jspVerticalBar .jspArrow {
	height:16px;
}
.index .nav .jspHorizontalBar .jspArrow {
	width:16px;
	float:left;
	height:100%;
}
.index .nav .jspVerticalBar .jspArrow:focus {
	outline:none;
}
.index .nav .jspCorner {
	background:#eeeef4;
	float:left;
	height:100%;
}
.index .object .modal .jspContainer {
	overflow:hidden;
	position:relative;
}
.index .object .modal .jspPane {
	position:absolute;
}
.index .object .modal .jspVerticalBar {
	position:absolute;
	top:0;
	right:0;
	width:6px;
	height:100%;
}
.index .object .modal  .jspHorizontalBar {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:16px;
	background:red;
}
.index .object .modal .jspCap {
	display:none;
}
.index .object .modal .jspHorizontalBar .jspCap {
	float:left;
}
.index .object .modal .jspTrack {
	background:url('../img/scrollable_track.png') repeat-y left;
	position:relative;
}
.index .object .modal .jspDrag {
	background:#97d7c6;
	position:relative;
	top:0;
	left:0;
	cursor:pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.index .object .modal .jspHorizontalBar .jspTrack, .index .object .modal .jspHorizontalBar .jspDrag {
	float:left;
	height:100%;
}
.index .object .modal .jspArrow {
	background:#50506d;
	text-indent:-20000px;
	display:block;
	cursor:pointer;
	padding:0;
	margin:0;
}
.index .object .modal .jspArrow.jspDisabled {
	cursor:default;
	background:#80808d;
}
.index .object .modal .jspVerticalBar .jspArrow {
	height:16px;
}
.index .object .modal .jspHorizontalBar .jspArrow {
	width:16px;
	float:left;
	height:100%;
}
.index .object .modal .jspVerticalBar .jspArrow:focus {
	outline:none;
}
.index .object .modal .jspCorner {
	background:#eeeef4;
	float:left;
	height:100%;
}

/* Range slider */

.range {
	display:inline-block;
	width:259px;
	vertical-align:middle;
	margin:-2px -3px 0 0;
}
.range span.value {
	position:absolute;
	left:50%;
	bottom:24px;
	display:block;
	color:#000000;
	font-size:16px;
	line-height:18px;
	font-family:'Boblic', sans-serif;
	white-space:nowrap;
}
.range span.value sup {
	font-size:10px;
	line-height:10px;
}
.ui-slider {
	position:relative;
}
.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:18px;
	height:16px;
	background:url('../img/slider_range.png') no-repeat left top;
	cursor:pointer;
}
.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	overflow:hidden;
}
.ui-slider-horizontal {
	height:2px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top:-7px;
	margin-left:-8px;
}
.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left:0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right:0;
}
.ui-widget-content {
	background:#235044;
}
.ui-widget-header {
	height:4px !important;
	margin-top:-1px !important;
	background:#189f7b;
}